---
layout: default
title: Courses
section_id: courses

value_left:
  - icon: fas fa-brain
    desc: New way of thinking
  - icon: fas fa-hand-pointer
    desc: Hands on approach

value_right:
  - icon: fas fa-globe-americas
    desc: International collaboration
  - icon: fas fa-map-signs
    desc: A broader horizon of opportunities

corona_left:
  - icon: fas fa-pencil-ruler
    desc: The Space

corona_middle:
  - icon: fas fa-hammer
    desc: Work Mode

corona_right:
  - icon: fas fa-sign-in-alt
    desc: Join our projects
---
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
  }
</script>


<div class='full parallax' style='background-image: url(images/@header/offer_students.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Courses" tagline="Get to know our programs" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<!-- Slogan -->
<div class="full parallax" style="text-align: center;background-image: url(images/slogan.jpg); color: #fff;">
    <div class="spacing"></div>
    <div class="row">
        <div class="large-12">
            <p class="slogan">In our courses you can work in international and interdisciplinary teams, mixing engineering, design, business, computer science and more, addressing challenges from various industries, NGOs and the public sector.
               </p>
        </div>
    </div>
    <div class="three spacing"></div>
</div>

<!-- CORONA Info -->
<div id="corona" class='full' style="background: #f5f5f5;">
<div class='row'>
	<div class='medium-12 columns'>
      <h3>How is Corona affecting inno.Space?</h3>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
   <div class='medium-4 columns'>
     {% for value in page.corona_left %}
     <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
       <div class='icon-text-simple'>
         <i class='{{value.icon}}'></i>
         <p>{{value.desc}}</p>
      </div>
      <div class='three spacing'></div>
	  	        <p>
				<b>Wear a mask and keep the distance rules if you are on the university campus & at inno.space</b><br/>
				<i>Only five students are allowed at inno.space at the same time. </i>
				We aim to ensure a safe environment for everyone, while providing the students the opportunity to prototype at inno.space. Let us know and we can organize a visit for you. 
				</p>
     </div>
       {% endfor %}
    </div>
    <div class='medium-4 columns'>
      {% for value in page.corona_middle %}
      <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
        <div class='icon-text-simple'>
          <i class='{{value.icon}}'></i>
          <p>{{value.desc}}</p>
        </div>
        <div class='three spacing'></div>
				<p>
				<b>Our courses will run in a hybrid mode during the winter semester</b><br>
				While a lot of our activities will take place virtually, it is possible to work on prototypes at inno.space. When keeping a safe distance isn't possible,
				you have to wear a mask. The teaching team will inform you of the specific arrangements in the beginning of your course. 
				</p>
      </div>
      {% endfor %}
     </div>
 <div class='medium-4 columns'>
      {% for value in page.corona_right %}
      <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
        <div class='icon-text-simple'>
          <i class='{{value.icon}}'></i>
          <p>{{value.desc}}</p>
        </div>
        <div class='three spacing'></div>
				<p>
        <b>Simplified application process: get in touch & talk to us!</b><br>
				In order to facilitate a smoother transition into the semester and the hybrid mode, you can express your wish to join a project simply by getting in touch with us - be it via email or social media. Talk soon!
				</p>
      </div>
      {% endfor %}
    </div>
  </div> 
  <div class='spacing'></div>
  <div class='mod modCallToAction' style="text-align: center;">
</div>
</div>

<!--<test></test>-->
<!--<div class="container">
    <div id="test" class='full'>
        <div class='row'>
            <div class='large-8 columns'>
                <div class='spacing'></div>
                <h3>TEST</h3>
                <p>
                    blupdiblup
            </div>
            <div class='large-4 columns'>
                <iframe src="https://www.youtube.com/embed/ulvd9YTER04" frameborder="0" allow="autoplay; fullscreen" allowfullscreen onload="resizeIframe(this)">
                </iframe>
            </div>
        </div>
    </div>
</div>-->


<div class="container">
    <div id="dtp" class='full'>
        <div class='row'>
            <div class='large-8 columns'>
                <div class='spacing'></div>
                <h3>DTP</h3>
                <p>
                    In the Design Thinking Project (DTP), master students work on questions from <b>business and society</b> using the methods of <b>design thinking</b>. The students work in <b>international teams</b> with 6-9 elements and are accompanied by
                    experienced coaches. The teams consist of students from different fields of discipline of the HS Mannheim and members from another international university, which makes English the common language. Through <b>close collaboration</b> with the
                    corporate partner and the <b>high practical relevance of the challenges</b>, the teams learn how to develop innovative products and service concepts in a team. In this way, they are prepared for the innovation tasks of tomorrow.
                </p>
                <p>
                    The course is aimed to <b>master students from all faculties</b> of the university and lasts <b>two semesters</b>. At the end of the course, the students present their concept in the form of <b>executable prototype</b> in a presentation and
                    exhibition. The project is <b>based on the course taught at Stanford University</b> (ME310 course in Stanford, SUGAR Network), where this two-semester course has been taught for over 30 years.
                </p>
                <p>
                    The Mannheim University of Applied Sciences has already successfully completed several projects in the past three years. You can find more about them on our past projects page.
                </p>

                <ul>
                    <li>Open for master students of the Mannheim University of Applied Sciences</li>
                    <li>Duration: From the end of September to the beginning of June</li>
                    <li>ECTS: 20 ECTS (the recognition of credits is handled by the respective faculty). The workload is approx. 2 days a week.</li>
                    <li>For more information, see the <a href="/files/DTP_website.pdf">DTP presentation</a></li>
                </ul>

                <h4>PROCEDURE</h4>
                <p>
                    The course starts at the end of September and ends in mid-June. There are fixed times when you meet as a team with the supervising professors and coaches. Workshops are held here and intermediate results are discussed. In addition, you will
                    arrange common times for the project work in the team according to your individual availability.
                </p>
                <p>
                    The project requires a <b>strong commitment</b> and promises an intensive learning experience. Especially in the last quarter you spend a lot of time with the project. Within the framework of cooperation with the client and a partner
                    university, various trips lasting several days are connected.
                </p>

                <div class='two spacing'></div>
            </div>
            <div class='two spacing'></div>
            <div class="columns align-self-center">
                <iframe src="https://www.youtube.com/embed/ulvd9YTER04" frameborder="0" allow="autoplay; fullscreen" allowfullscreen onload="resizeIframe(this)">
                </iframe>
            </div>
        </div>
    </div>
</div>

    <div id="cbi" class='full' style="background: #f5f5f5;">
        <div class='row'>
            <div class='spacing'></div>
            <div class='large-4 columns'>
                <div class='two spacing'></div>
                <iframe src="https://drive.google.com/file/d/1HyQiUA0R8zLTP6pnBcsKvLmjSHrQJ0ca/preview" frameborder="0" allow="autoplay; fullscreen" allowfullscreen onload="resizeIframe(this)">
                </iframe>
            </div>

            <div class='large-8 columns'>
                <div class='spacing'></div>
                <h3>CBI!</h3>
                <p>
                    The Challenged Based Innovation (CBI) A3 program brings <b>CERN technologies</b> and the <b>UN Sustainable Development Goals (SDG)</b> together. For the course of 7 months, students will design applications relevant to <b>future scenarios</b>
                    for 2020-2030.
                </p>
                <p>
                    CERN, being the European Organization for Nuclear Research, develops a numerous amount of complex technologies on their conquest of finding out the answer for fundamental questions of humankind – Where do we come from? Where are we going?
                    What is the universe made of? - however, these technologies are being used solely on their advanced machinery and research. CBI aims to <b>combine real life problems with these technologies</b> and give them a societal application. Closing
                    the bridge between super science and society.
                </p>
                <p>
                    In this course, students will work within a multidisciplinary local team while having an international "buddy team". This means that teams can help each other and share knowledge, but they work independently. During the course, teams will
                    get to <b>explore the problems from their local context, CERN technology and spend 2 weeks at CERN</b> in Switzerland to get more insights from researchers and meet all the other teams that are spread globally. After researching, the team
                    has until January to to come to a common vision and a path they want to follow. After that, students will be provided with materials and activities to help them better understand the problem, CERN technologies and create predictions for the
                    scenarios of 2020, 2025 and 2030. The project is finalized in the end of April with a proof of concept prototype and a presentation.

                </p>
                <p>
                    <ul>
                        <li>Open for master students of the Mannheim University of Applied Sciences</li>
                        <li>Duration: From the end of September to the end of April</li>
                        <li>ECTS: 20 ECTS (the recognition of credits is handled by the respective faculty). The workload is approx. 2 days a week.</li>
                        <li>For more information, see the <a href="/files/CBI_website.pdf">CBI presentation</a></li>
                    </ul>

                    <h4>PROCEDURE</h4>
                <p>
                    The course starts at the end of September and ends at the end of April with the final presentation. There are fixed times when you meet in a team with the supervising professors and coaches. In addition, you will arrange common times for
                    the project work in the team according to your individual availability. Since the course ends in April in the second semester, courses also take place during the semester break, but you will be finished well before the end of the semester.
                    The project requires a strong commitment for two semesters and promises an intensive, challenging learning experience.

                </p>

                <div class='two spacing'></div>



            </div>
        </div>
    </div>
    <div id="gdip" class='full'>
        <div class='row'>
            <div class='large-8 columns'>
                <div class='spacing'></div>
                <h3>GDIP</h3>
                <p>
                    The project course <b>Global Digital Innovation Program (GDIP)</b> lets student solve <b>real-world challenges</b> in the area of <b>digital innovation</b> using <b>Design Thinking</b>. They develop solutions in the form of physical and digital prototypes that show the desirability, viability, and feasibility of their concept. The overall goal is to acquire the skills necessary to deal with an ever-changing and complex work environment with an international, interdisciplinary setup. The challenges are provided by a <b>company</b> and arise from the current pressure in the area of <b>digital transformation</b>.
                </p>
                <p>
                    The course is organized as an <b>action-based project</b> with <b>international teams</b>: three students from HS Mannheim team up <b>with three students of a partner university</b> from the Design Factory Global Network (DFGN). Together, they work on one <b>company challenge</b> with a teaching team coaching the whole process. In several <b>sprints</b> the students work on assignments leading them through the problem solving process and different facets of innovation. Several methods like user research, problem reframing, prototyping, user testing, etc. are introduced. At the end of the semester the student team presents one solution to the problem as <b>proof-of-concept demonstrator</b>.
                </p>
                <p>
                    The course is open for <b>bachelor students of all courses </b> in the 6th or 7th semester with a strong interest in working in an international setting. <b>Moderate English skills</b> are required to handle the communication with the international partner. The students get the chance to learn state-of-the-art methods in Design Thinking and problem solving and they gain international experience. The course replaces one elective (Wahlpflichtfach) with 5 credits (ECTS).
                </p>

                <ul>
                    <li>Open for students from <b>all Faculties</b>; 6th or 7th semester </li>
                    <li>Duration: From the <b>beginning of March to end of June</b> and <b>beginning of September to end of December</b></li>
                    <li>Replaces one elective (<em>Wahlfplichtfach</em>)</li>
                    <li><b>5 Credits (ECTS)</b>. The workload is approx. 1 day a week.</li>
                    <li>For more information, see the <a href="/files/GDIP_website.pdf">GDIP presentation</a></li>
                </ul>

                <div class='two spacing'></div>
            </div>
            <div class='two spacing'></div>
            <div class='large-4 columns'>
                <iframe src="https://www.youtube.com/embed/4KPeIvn9BR0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen onload="resizeIframe(this)">
                </iframe>
            </div>
        </div>

        <div class='two spacing'></div>

    </div>
    <div class='full'>
        <div class='row'>
            <div class='medium-12 columns'>
                <h3>What's in it for you?</h3>
                <div class='two spacing'></div>
            </div>
        </div>
        <div class='row'>
            <div class='medium-6 columns'>
                {% for value in page.value_left %}
                <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
                    <div class='icon-text-simple'>
                        <i class='{{value.icon}}'></i>
                        <p>{{value.desc}}</p>
                    </div>
                    <div class='two spacing'></div>
                </div>
                {% endfor %}
            </div>
            <div class='medium-6 columns'>
                {% for value in page.value_right %}
                <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
                    <div class='icon-text-simple'>
                        <i class='{{value.icon}}'></i>
                        <p>{{value.desc}}</p>
                    </div>
                    <div class='two spacing'></div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class='spacing'></div>
        <div class='mod modCallToAction' style="text-align: center;">

            <div class='two spacing'></div>
            <div class="row">
                <div class='medium-12 large-12 columns'>
                    <p style="color:#ffffff;">Interested in taking part? Applications are open! Contact us through our e-mail: <a class='ctaLink' href="mailto:inno.space@hs-mannheim.de ?subject=Courses at inno.space"><i class="fas fa-envelope"></i></a></p>
                </div>
            </div>
            <div class='spacing'></div>
        </div>


        <!--
        <div class='full' id="application">
            <div class='row'>
                <div class='large-12 columns'>
                    {% include section-header.html title="Application" color="#222" %}
                    <div class='spacing'></div>
                    <p>The large courses (DTP, SQUAD) always start at the beginning of the winter semester and comprise two semesters. For the application we expect a one-page CV as well as a half-page letter of motivation in English. Please send your application by email to inno.space(at)hs-mannheim.de. Please also note the name of the course.
                    </p>
                    <ul>
                        <li>
                            Our Innovation Course for Master Students (DTP) is open to students of all faculties. The crediting of the ECTS is done by the faculties and has to be clarified with the heads of the faculties. Applications are accepted all year round.</li>
                        <li>
                            The Innovation Course for Bachelor Students (SQUAD) is open to students of the Faculty of Computer Science who are in their 6th or 7th semester. We also accept applications all year round.
                        </li>
                    </ul>

                    <p> If you have further questions about the course, please also contact inno.space(at)hs-mannheim.de.</p>

                    <div class='two spacing'></div>

                </div>
            </div>
            <div class='spacing'></div>
        </div>
        -->
