---
layout: default
title: Offer
section_id: offer
---

<div class='full parallax' style='background-image: url(images/@header/offer_industry.jpg); color: #fff;'>
    <div class='row'>
        <div class='large-12 columns'>
            {% include section-header.html title="Our offer" tagline="Get to know our offer" color="#fff" class="big" %}
        </div>
    </div>
    <div class='four spacing'></div>
</div>

<div class='full'>
    <div class='four spacing'></div>
    <div class='row'>
        <div class='medium-6 columns '>
            <a href='students.html'>
      {% include icon-text.html title='Students' desc='Our offer for students' icon_class='fas fa-user-graduate' delay='0' shape_class='icon-text-circle' %}
        </a>
        </div>

        <div class='medium-6 columns'>
            <a href='industry.html'>
      {% include icon-text.html title='Industry' desc='Our offer for industry.' icon_class='fas fa-industry' delay='0' shape_class='icon-text-circle' %}
        </a>
        </div>

    </div>
    <div class=' four spacing'></div>
    <div class=' four spacing'></div>
</div>
