---
layout: default
title: Courses
section_id: courses

value_left:
  - icon: fas fa-brain
    desc: New way of thinking
  - icon: fas fa-hand-pointer
    desc: Hands-on approach

value_middle:
  - icon: fas fa-user-graduate
    desc: Improved and newly acquired skills
  - icon: fas fa-project-diagram
    desc: Interdisciplinarity and networking

value_right:
  - icon: fas fa-globe-americas
    desc: International collaboration
  - icon: fas fa-map-signs
    desc: Expanded horizon of opportunities

corona_left:
  - icon: fas fa-paper-plane
    desc: Get in touch

corona_middle:
  - icon: fas fa-map-marker-alt
    desc: Virtual? Physical?

corona_right:
  - icon: fas fa-flag-checkered
    desc: in a nutshell
---
<script>
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.documentElement.scrollHeight + 'px';
  }
</script>


<div class='full parallax' style='background-image: url(images/@header/offer_students.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Courses" tagline="Get to know our programs" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<!-- Slogan -->
<div class="full parallax" style="text-align: center;background-image: url(images/slogan.jpg); color: #fff;">
    <div class="spacing"></div>
    <div class="row">
        <div class="large-12">
            <p class="slogan">In our courses you can work in international and interdisciplinary teams, mixing engineering, design, business, computer science and more, addressing challenges from various industries, NGOs and the public sector.
               </p>
        </div>
    </div>
    <div class="three spacing"></div>
</div>

<!-- Application & Corona -->
<div id="corona" class='full' style="background: #f5f5f5;">
  <div class='row'>
	  <div class='medium-12 columns'>
      <h2>How can you join?</h2>
      <div class='one spacing'></div>
    </div>
  </div>
  <div class='row'>
   <div class='medium-4 columns'>
     {% for value in page.corona_left %}
     <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
       <div class='icon-text-simple'>
         <i class='{{value.icon}}'></i>
         <h3>{{value.desc}}</h3>
      </div>
      <div class='three spacing'></div>
	  	  <p class="text-justify">
				<b>Don't worry about complex application processes - just get in touch!</b><br/>
        Pick a course from our offer below and send us an <a href="mailto:inno.space@hs-mannheim.de">email</a>. 
        Tell us shortly who you are and why you are interested in inno.space. <br>
        We will get back to you right away! 
				</p>
     </div>
       {% endfor %}
    </div>
    <div class='medium-4 columns'>
      {% for value in page.corona_middle %}
      <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
        <div class='icon-text-simple'>
          <i class='{{value.icon}}'></i>
          <h3>{{value.desc}}</h3>
        </div>
        <div class='three spacing'></div>
				<p class="text-justify">
				<b>Our work mode is dependent on the university's regulations.</b><br>
        We have plenty of experience, including two full semesters, running our courses completely virtually - and the results have been great! 
        We hope you will be able to prototype and use inno.space, but either way, the experience is worth it!
        </p>
      </div>
      {% endfor %}
     </div>
 <div class='medium-4 columns'>
      {% for value in page.corona_right %}
      <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
        <div class='icon-text-simple'>
          <i class='{{value.icon}}'></i>
          <h3>{{value.desc}}</h3>
        </div>
        <div class='three spacing'></div>
				<p class="text-justify">
        <b>Project experience that is fun and will (very likely) land you a job!</b><br>
        You can use what you know, learn new skilly, work with an international team and solve a real problem - for a company or society. 
        The experience will be insightful, fun and will look great in your CV! Join us this semester! 
				</p>
      </div>
      {% endfor %}
    </div>
  </div> 
  <div class='spacing'></div>
  <div class='mod modCallToAction' style="text-align: center;">
</div>
</div>

<!--<test></test>-->
<!--<div class="container">
    <div id="test" class='full'>
        <div class='row'>
            <div class='large-8 columns'>
                <div class='spacing'></div>
                <h3>TEST</h3>
                <p>
                    blupdiblup
            </div>
            <div class='large-4 columns'>
                <iframe src="https://www.youtube.com/embed/ulvd9YTER04" frameborder="0" allow="autoplay; fullscreen" allowfullscreen onload="resizeIframe(this)">
                </iframe>
            </div>
        </div>
    </div>
</div>-->


<div class="container">
    <div id="dtp" class='full'>
        <div class='row'>
          <div class="large-12 columns">
          <h2>Design thinking project (DTP) - ME310</h2>
          </div>
          
            <div class='large-4 columns' style="padding-right: 25px;">

               <!-- <div class='spacing'></div>-->
                
                <p class="text-justify">
                  
                    In DTP masters students work on questions from <b>business and society</b> using <b>design thinking</b> methods. The students work in <b>international teams</b> with 6-9 members and are accompanied by
                    experienced coaches. The teams consist of students from different fields of discipline of the HS Mannheim and members from another international university. Through <b>close collaboration</b> with the
                    corporate partner and the <b>high practical relevance of the challenges</b>, the teams learn how to develop innovative products and service concepts in a team. In this way, they are prepared for the innovation tasks of tomorrow.
                </p>
                <p class="text-justify">
                    <!--The course is aimed at <b>master students from all faculties</b> of the university and lasts <b>two semesters</b>.--> At the end of the course, the final concept is in the form of an <b>executable prototype</b>. The project is based on the <b>ME310 course taught at Stanford University</b>. The university collaborations take place within the <a href="https://inno-space.de/network.html">SUGAR Network</a>. 
                </p>
                <!--
                <p>
                    The Mannheim University of Applied Sciences has already successfully completed several projects in the past three years. You can find more about them on our past projects page.
                </p>
              -->
                <div class='spacing'></div>
            </div>
            <div class='spacing'></div>
            <div class='large-8 columns'>
              <div class="row align-items-center">
                <div class="videoWrapper">
                  <iframe width="560" height="349" src="https://www.youtube.com/embed/ulvd9YTER04" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
      <div class="large-12 columns">
        <h4>PROCEDURE</h4>
      <p class="text-justify">
          The deadline for applications ends with the start of the semester at the 1 st of August. Later applications will be considered as long as there are places available. To apply send a short motivation letter and your CV to the <a href = "mailto: inno.space@hs-mannheim.de">inno.space e-mail</a>. 
          There are weekly appointments with the course coaches. In addition, you need to arrange meetings with your team.  
      </p>
      <p class="text-justify">
          The project requires <b>strong commitment</b> and promises an intensive learning experience. Especially in the last quarter you spend a lot of time with the project. <!--Within the framework of cooperation with the client and a partner
          university, various trips lasting several days are connected.-->
      </p>
        <h4>KEY FACTS</h4>
        <ul>
          <li>Open for masters students from all faculties of the Mannheim University of Applied Sciences</li>
          <li>Duration: 2 semesters (end of September - beginning of June)</li>
          <li>ECTS: 20 ECTS (the recognition of credits is handled by the respective faculty). The workload is approx. 2 days a week.</li>
          <li>For more information, see the <a href="/files/DTP_website.pdf">DTP presentation</a></li>
        </ul>
        <div class='one spacing'></div>
      </div>
    </div>
</div>

    <div id="cbi" class='full' style="background: #f5f5f5;">
        <div class='row'>
          <div class="large-12 columns">
            <h2>Design Thinking Project (DTP) - Challenge Based Innovation (CBI) A<sup>3</sup></h2>
          </div>
            <div class='large-4 columns' style="padding-right: 25px;">
                
                
                <p class="text-justify">
                    The CBI A<sup>3</sup> program combines <b>CERN technologies</b> and the <b>UN Sustainable Development Goals (SDG)</b>. For the duration of 7 months, students design applications relevant to <b>future scenarios</b>
                    for 2020-2030.
                </p>
                <p class="text-justify">
                    CERN, the European Organization for Nuclear Research, develops numerous complex technologies on their conquest to discover the answers to some of humankind's fundamental questions.
                    Often, however, the usage of these technologies remains confined solely within the realm of CERN research. CBI aims to <b>combine real life problems with these technologies and give them a societal application</b>, thus closing
                    the gap between super-science and society. CBI runs in collaboration with the <a href="http://cbi.dfm.org.au/">Design Factory Melbourne</a> and <a href="https://ideasquare.cern/ideasquare-landing-page">IdeaSquare CERN</a>.
                </p>
              
              </div>
              <div class='spacing'></div>
            <div class='large-8 columns'>
              <div class="row align-items-center">
                <div class="videoWrapper">
                  <iframe width="560" height="349" src="https://www.youtube.com/embed/FtQYrTDQh2A" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
              <div class="large-12 columns">
                <p>
                    <h4>PROCEDURE</h4>
                    <p class="text-justify">
					The deadline for applications ends with the start of the semester at the 1 st of August. Later applications will be considered as long as there are places available. To apply send a short motivation letter and your CV to the <a href = "mailto: inno.space@hs-mannheim.de">inno.space e-mail</a>. 
                    In this course, students work within a multidisciplinary local team while having an international "buddy team". During the course, teams will
                    get to <b>explore the problems from their local context, CERN technology and spend 2 weeks at CERN</b> in Switzerland to get more insights from researchers and meet all the other global teams. The project is finalized in the end of April with a proof of concept prototype and a presentation.<!--This means that teams can help each other and share knowledge, but they work independently. After researching, the team
                    has until January to to come to a common vision and a path they want to follow. After that, students will be provided with materials and activities to help them better understand the problem, CERN technologies and create predictions for the
                    scenarios of 2020, 2025 and 2030. -->
                    </p>
                <p class="text-justify">
                    There are fixed times when you meet in a team with the supervising professors and coaches. In addition, you will arrange common times for
                    the project work in the team according to your individual availability. Since the course ends in April in the second semester, classes also take place during the semester break, but in exchange you will be finished well before the end of the semester.
                    The project requires a strong commitment for two semesters and promises an intensive, challenging learning experience.
                </p>
                <h4>KEY FACTS</h4>
                <ul>
                  <li>Open for master students of the Mannheim University of Applied Sciences</li>
                  <li>Duration: 7 months (end of September - end of April)</li>
                  <li>ECTS: 20 ECTS (the recognition of credits is handled by the respective faculty). The workload is approx. 2 days a week.</li>
                  <li>For more information, see the <a href="/files/CBI_website.pdf">CBI presentation</a></li>
              </ul>
                <div class='one spacing'></div>
              </div>
        </div>
    </div>

<div class="container">
  <div id="pdp" class='full'>
    <div class='row'>
      <div class="large-12 columns">
        <h2>Product Development Project (PDP)</h2>    
        <!-- <div class='large-4 columns' style="padding-right: 25px;">  -->
          <p class="text-justify">
          In PDP, master students work on resolving broad <b>business and societal challenges</b> using <b>design thinking methods</b>. 
          3 to 4 students from Mannheim and the same number of students from another European university form a team. 
          Accompanied and guided by experienced coaches they learn to develop innovative products and service concepts. 
          Close collaboration with a corporate partner ensures <b>high practical relevance of the solutions</b>. 
          This way, they are prepared for tackling the innovations of tomorrow. 
          </p>            
          <p class="text-justify">
          At the end of the course, the final concept is in the form of an executable prototype. 
          The university collaborations take place within the <a href="innospace-web/network.html">Design Factory Global Network (DFGN)</a>. 
          </p>            
          <div class='spacing'></div>
          <!-- <div class='spacing'></div> 
          <div class='large-8 columns'>
            <div class="row align-items-center">
              <div class="videoWrapper">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/4KPeIvn9BR0" frameborder="0" allowfullscreen></iframe>
              </div>
            </div>
          </div>
         <div class="large-12 columns">
         <div class='spacing'></div>
          -->
          <h4>PROCEDURE</h4>
          <p class="text-justify">
          To apply, send an email to <a href="mailto:inno.space@hs-mannheim.de">inno.space</a>. 
          The deadline for applications ends with the start of the semester, 1st of March resp. 1st of August. 
          Later applications will be considered as long as there are places available.
          </p>
          <p class="text-justify">
            To align with the semester dates of the partner university, the project often starts and ends 1-2 weeks before the Mannheim lecture times. 
            There are weekly appointments with the course coaches to guide you through the project. In addition, you need to arrange meetings with your team. 
            The average workload per week is 1,5 to 2 days. 
            A visit of the partner university (3 to 4 days) is planned, free of charge for the team members (when circumstances allow it).
          </p>
          <p>
            The project requires sufficient <b>commitment</b> and promises an exciting and intensive learning experience within a vibrant community.
          </p>
          <h4>KEY FACTS</h4>
          <ul>
            <li>Open for master students from <b>all faculties</b> of the Mannheim University of Applied Sciences</li>
            <li>Duration: <b>4 months</b> (mid March - beginning of July &amp; October - January)</li>
            <li>Credits: <b>10 ECTS</b> (The recognition of credits is handled by the respective faculty.) The workload is 1,5 to 2 days a week.</li>
            <!-- <li>For more information, see the <a href="/files/GDIP_website.pdf">GDIP presentation</a></li> -->
          </ul>
        </div>
      </div>
   </div>
  <div class='one spacing'></div>
</div>

    <div class="container">
      <div id="gdip" class='full' style="background: #f5f5f5;">
          <div class='row'>
            <div class="large-12 columns">
            <h2>Global Digital Innovation Project (GDIP)</h2>
          </div>
              <div class='large-4 columns' style="padding-right: 25px;">                  
                  <p class="text-justify">
                    GDIP allows students to address <b>real-world challenges</b> in the area of <b>digital innovation</b> using <b>Design Thinking</b> methods. They develop solutions in the form of physical and digital prototypes that show the desirability, viability and feasibility of their concept. The overall goal is to acquire the skills necessary to deal with an ever-changing and complex work environment with an international, interdisciplinary setup. 
                    The challenges are provided by a company, an NGO or a public-sector organization and arise from the current pressure in the area of <b>digital transformation</b>.
                  </p>            
                  <p class="text-justify">The course is organized as an <b>action-based project</b> with <b>international teams</b>: three to four students from Mannheim and <b>three to four students of a partner university</b> from the Design Factory Global Network (DFGN).</p>            
                  <div class='spacing'></div>
              </div>
              <div class='spacing'></div>
              <div class='large-8 columns'>
                <div class="row align-items-center">
                  <div class="videoWrapper">
                    <iframe width="560" height="349" src="https://www.youtube.com/embed/4KPeIvn9BR0" frameborder="0" allowfullscreen></iframe>
                  </div>
              </div>
          </div>
        <div class="large-12 columns">
          <div class='spacing'></div>
          <h4>PROCEDURE</h4>
          <p class="text-justify">
			The deadline for applications ends with the start of the semester at the 1 st of August. Later applications will be considered as long as there are places available. To apply send a short motivation letter and your CV to the <a href = "mailto: inno.space@hs-mannheim.de">inno.space e-mail</a>. 
            The international team of 6 to 8 works on one <b>company challenge</b> with a teaching team guiding them throughout process. In several <b>sprints</b> the students work on assignments leading them through the problem solving process and different facets of innovation. Several methods like user research, problem reframing, prototyping, user testing, etc. are introduced. At the end of the semester the student team presents one solution to the problem as <b>proof-of-concept demonstrator</b>.
        </p>
        <p class="text-justify">
            The course is suitable for students with a strong interest in working in an international setting. <b>Moderate English skills</b> are required to handle the communication with the international partner. The students get the chance to learn state-of-the-art methods in Design Thinking and problem solving and they gain international experience.         </p>
          <h4>KEY FACTS</h4>
          <ul>
            <li>Open for bachelor students from <b>all faculties</b>: 6<sup>th</sup> or 7<sup>th</sup>semester </li>
            <li>Duration: 4 months (March - June &amp; September - December)</li>
            <li>Replaces one elective (<em>Wahlfplichtfach</em>)</li>
            <li>Credits: 5 ECTS. The workload is approx. 1 day a week.</li>
            <li>For more information, see the <a href="/files/GDIP_website.pdf">GDIP presentation</a></li>
          </ul>
        </div>
      </div>
  </div>
  <div class='one spacing'></div>
</div>
  
    <div class='full' style="background: #f5f5f5;">
        <div class='row'>
            <div class='medium-12 columns'>
                <h2>What's in it for you?</h2>
                <div class='two spacing'></div>
            </div>
        </div>
        <div class='row'>
            <div class='medium-4 columns'>
                {% for value in page.value_left %}
                <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
                    <div class='icon-text-simple'>
                        <i class='{{value.icon}}'></i>
                        <p>{{value.desc}}</p>
                    </div>
                    <div class='two spacing'></div>
                </div>
                {% endfor %}
            </div>
            <div class='medium-4 columns'>
              {% for value in page.value_middle %}
              <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
                  <div class='icon-text-simple'>
                      <i class='{{value.icon}}'></i>
                      <p>{{value.desc}}</p>
                  </div>
                  <div class='two spacing'></div>
              </div>
              {% endfor %}
          </div>
            <div class='medium-4 columns'>
                {% for value in page.value_right %}
                <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
                    <div class='icon-text-simple'>
                        <i class='{{value.icon}}'></i>
                        <p>{{value.desc}}</p>
                    </div>
                    <div class='two spacing'></div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class='spacing'></div>
        <div class='mod modCallToAction' style="text-align: center;">

            <div class='two spacing'></div>
            <div class="row">
                <div class='medium-12 large-12 columns'>
                    <p style="color:#ffffff;"><b>Interested in taking part? Applications are open! Contact us via e-mail: </b><a class='ctaLink' href="mailto:inno.space@hs-mannheim.de ?subject=Courses at inno.space"><i class="fas fa-envelope"></i></a></p>
                </div>
            </div>
            <div class='spacing'></div>
        </div>


        <!--
        <div class='full' id="application">
            <div class='row'>
                <div class='large-12 columns'>
                    {% include section-header.html title="Application" color="#222" %}
                    <div class='spacing'></div>
                    <p>The large courses (DTP, SQUAD) always start at the beginning of the winter semester and comprise two semesters. For the application we expect a one-page CV as well as a half-page letter of motivation in English. Please send your application by email to inno.space(at)hs-mannheim.de. Please also note the name of the course.
                    </p>
                    <ul>
                        <li>
                            Our Innovation Course for Master Students (DTP) is open to students of all faculties. The crediting of the ECTS is done by the faculties and has to be clarified with the heads of the faculties. Applications are accepted all year round.</li>
                        <li>
                            The Innovation Course for Bachelor Students (SQUAD) is open to students of the Faculty of Computer Science who are in their 6th or 7th semester. We also accept applications all year round.
                        </li>
                    </ul>

                    <p> If you have further questions about the course, please also contact inno.space(at)hs-mannheim.de.</p>

                    <div class='two spacing'></div>

                </div>
            </div>
            <div class='spacing'></div>
        </div>
        -->
