---
layout: default
title: Exchange
section_id: exchange

value_left:
- icon: fas fa-brain
  desc: New way of thinking
- icon: fas fa-hand-pointer
  desc: Hands on approach


value_right:
- icon: fas fa-globe-americas
  desc: International collaboration
- icon: fas fa-map-signs
  desc: A broader horizon of opportunities

excservices:
- icon: fas fa-list
  title: Possibilities
  desc: Your time abroad can be dedicated to one of the following&#58; <br>- earning <b>ECTS through courses</b><br>- bachelor/master <b>thesis</b><br>- coaching or research <b>internship</b>
- icon: fas fa-shoe-prints
  title: Organization
  desc: You can spend <b>4 to 6 months</b> abroad. Plan at least <b>two months time before</b> your desired departure for the organization. inno.space will facilitate the process.
- icon: fas fa-life-ring
  title: Support from inno.space
  desc: Each scholarship covers <b>monthly expenses of 1000€</b>, <b>health insurance</b> in the destination country and <b>travel allowance of max. 300€</b> per direction.

testimonials2:
- quote: So many opportunities and relationships! This experience had great impact on my personal and professional development and I want to encourage everyone who gets the chance to take the opportunity and go for this adventure - I am sure it will be an experience just as great as mine in Tartu.
  author: Leo, GDIP 2020 and MA.global 2020/2021
---
<div class='full parallax' style='background-image: url(images/@header/students_exchange.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Exchange" tagline="Go abroad with our support" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <h2>Going abroad with inno.space</h2>
      <div class='spacing'></div>
      <p>Spending time abroad through an exchange semester or internship can enrich your study experience and offer
        more future perspectives.
        Together with our partners from the Design Factory Global Network (DFGN) and financial support from MA.global,
        inno.space is providing students of the Mannheim University of Applied Sciences with the opportunity for a
        semester abroad.
      </p>

      <div class='row'>
        <div class="three spacing"></div>
        {% for service in page.excservices %}
        <div class='medium-4 columns'>
          <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
            <div class='icon-text-simple'>
              <i class='{{service.icon}}'></i>
              <h3>{{service.title}}</h3>
              <div style="text-align: justify; text-justify: inter-word;">
                <p>{{service.desc}}</p>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!--
<div class="container">
  <div id="format" class='full'>
    <div class='row'>
       <div class="large-12 columns">
            <div class='large-6 columns' style="padding-right: 25px;">              
            <ul>
              <li>You can join a university from the DFGN to:</li>
              <ul>
                <li>take courses as part of your study program</li>
                <li>complete a Bachelor or Master thesis</li>
                <li>do an internship focused on coaching within the design factory</li>
                <li>do an internship focused on research within the design factory</li>
              </ul>
              <li>for a duration of <b>4 to 6 months</b></li>
              <li>facilitated and financially supported by inno.space</li>
              <li>priority will be given to <a href="https://inno-space.de/courses.html" target="_blank">alumni of the inno.space programs</a></li>
              <li>each scholarship covers <b>monthly expenses of 1000€</b>, <b>health insurance in the destination country</b> and <b>travel allowance of max. 300€ per direction</b></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    </div>
    -->
      <div class="container">
        <div id="destinations" class="full">
          <div class='row'>
            <div class='large-6 columns' style="padding-right: 25px;">
              <h2>Destinations</h2>
              <!-- <div class='spacing'></div>-->
              <p class="text-justify">We cooperate with multiple universities which are part of the <a
                  href="https://dfgn.org/" target="_blank">Design Factory Global Network (DFGN)</a>.
              <p>The DFGN is a network of innovation hubs in universities and research organisations. DFGN is on a
                mission to create change in the world of learning and research through passion-based culture and
                effective problem solving.</p>
              <p>We already have established exchange partnerships with the design factories on the map, so an
                exchange there would be easy to organize. Nevertheless, we can try to organize exchange
                opportunities with the rest of the network.</p>
              <p>You can find a complete list of all design factories on the <a href="https://dfgn.org/"
                  target="_blank">DFGN website</a>.</p>
            </div>
            <div class='medium-6 columns'>
              <div class="row align-items-center">
                <div class="videoWrapper">
                  <iframe width="560" height="349"
                    src="https://www.google.com/maps/d/embed?mid=17LKZOb622ZexEZA3cG4Vjgaix-OVPC7Q"
                    frameborder="0"></iframe>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class='spacing'></div>
      <h2>Application & Selection Process</h2>
      <div class='spacing'></div>
      <p>In order to be considered for the inno.space exchange scholarship,</p>
      <ul>
        <li>send us an email to inno.space(at)hs-mannheim.de with a short motivation, including:</li>
        <ul>
          <li>personal <b>introduction</b>, incl. practical and international experiences,</li>
          <li>your <b>2 destination preferences</b>,</li>
          <li><b>goals for the exchange</b> (internship, thesis, courses, etc.),</li>
          <li>CV and current transcript</li>
        </ul>
        <li>consider participating in our <b>local inno.space programs</b> as priority will be given to inno.space alumni</li>
        <li>submit your application to one of the following <b>deadlines</b> to allow enough time for the organization:</li>
        <ul>
          <li>15th November</li>
          <li>15th January</li>
          <li>15th May</li>
        </ul>
      </ul>
      <p>We will get in touch very soon to organize a short get-to-know talk. Afterwards, based on your preferences,
        we will facilitate the contact with the design factories abroad and discuss the practicalities. The whole
        process lasts up to 2 months.</p>
    </div>
  </div>
<div class='spacing'></div>
  <div class='row'>
    <div class='small-12 columns'>
      <h2>What do our students say</h2>
      <br>
      <div style='padding:56.25% 0 0 0;position:relative;'>
        <!-- <iframe src="https://player.vimeo.com/video/448552394" style='position:absolute;top:0;left:0;width:100%;height:100%;' frameborder='0' allow="autoplay; fullscreen" allowfullscreen></iframe> -->
        <iframe src="https://player.vimeo.com/video/498397108"
          style='position:absolute;top:0;left:0;width:100%;height:100%;' frameborder='0' allow="autoplay; fullscreen"
          allowfullscreen></iframe>
      </div>
      <div class='three spacing'></div>
    </div>
  </div>
<!-- 
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              <div class='two spacing'></div>
              {% for testimonial in page.testimonials2 %}
              <div class='item'>
                <p class='quote'>"{{testimonial.quote}}"</p>
                <p class='author'>- {{testimonial.author}}</p>
                <div class='two spacing'></div>
              </div>
              {% endfor %}
              <div class='spacing'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
<!--
<div class='full' style="background: #f5f5f5;">
    <div class='row'>
        <div class='large-12 columns'>
          <h2>As a company interested in Design Thinking</h2>

            <div class='spacing'></div>

            <p>
                Besides our long term projects, we also provide <b>short and fast paced workshops</b> to make sure your company gets in the <b>right mindset</b> and gets the feeling of what design thinking can be.

            </p>
            <p>
                These workshops are adjusted to your company availability and tailored to the companys <b>needs and wishes</b>. They can take form as a 1 or 2 day bootcamp where together we go though <b>one cycle of the Design Thinking Process</b>.

            </p>
            <p>
                It is the perfect way of realizing how beneficial this mindset can be when <b>driving innovation</b> and how to implement this mindset within your organization.

            </p>


            <div class='two spacing'></div>

        </div>
    </div>
     <div class='mod modCallToAction' style="text-align: center;">

        <div class='two spacing'></div>
        <div class="row">
          <div class='medium-12 large-12 columns'>
            <p>Interested? Contact us through our e-mail <a class='ctaLink' href="mailto:inno.space@hs-mannheim.de ?subject=Design Thinking - HS Mannheim"><i class="fas fa-envelope"></i></a></p>
          </div>

          </div>
          <div class='spacing'></div>
        </div>

</div>
-->