---
layout: default
title: Projects
section_id: projects
works:

  - image: images/clash.jpg
    title: CLASH
    link_to: projects/clash
    klass: 2019/2020 CBI
    desc: CBI Program 2019/2020
  - image: images/bee.jpg
    link_to: projects/bee
    title: Bee
    klass: 2019/2020 CBI
    desc: CBI Program 2019/2020
  - image: images/oceanlog.jpg
    title: oceanlog
    link_to: projects/oceanlog
    klass: 2019/2020 DTP
    desc: Corporate Sponsor - Maersk Drilling | Partner University - Stanford University | ME310 Program 2019/2020
  - image: images/vidagesund.jpg
    title: VidaGesund
    link_to: projects/vidagesund
    klass: 2019/2020 GDIP
    desc: Corporate Sponsor - VidaWell | Partner University - University of Tartu | GDIP Program 2019/2020
  - image: images/leeroy.jpg
    title: Leeroy
    link_to: projects/leeroy
    klass: 2019/2020 GDIP
    desc: Partner University - University of Tartu | GDIP Program 2019/2020
  - image: images/hartmann.png
    title: CareSense
    link_to: projects/hartmann
    klass: 2020/2021 GDIP
    desc: Partner University - University of Tartu | GDIP Program 2020/2021 
  - image: images/afb.png
    title: AfB
    link_to: projects/afb
    klass: 2020/2021 GDIP
    desc: Partner University - University of Tartu | GDIP Program 2020/2021
  - image: images/tartu.png
    title: Tartu-2024
    link_to: projects/tartu
    klass: 2020/2021 GDIP
    desc: Partner University - University of Tartu | GDIP Program 2020/2021
  - image: images/udi.JPG
    title: Healthpost Aid & Patient Diary
    link_to: projects/udi
    klass: 2019/2020 UDI
    desc: Corporate Sponsor - HITA e.V. | UDI Program 2019/2020
  - image: images/reshelf.jpg
    title: ReShelf
    link_to: projects/reshelf
    klass: 2018/2019 SQUAD
    desc: Corporate Sponsor - CIM do Tâmega e Sousa | Partner University - Porto Polytechnic | SQUAD Program 2018/2019
  - image: images/fampedia1.jpg
    title: Fampedia
    link_to: projects/fampedia
    klass: 2018/2019 SQUAD
    desc: Corporate Sponsor - SUSI & James | Partner University - Porto Polytechnic | SQUAD Program 2018/2019
  - image: images/quata1.jpg
    title: ReMY
    link_to: projects/remy
    klass: 2018/2019 CBI
    desc: CBI Program 2018/2019
  - image: images/valeo2.jpg
    title: Safe Space
    link_to: projects/safespace
    klass: 2018/2019 DTP
    desc: DTP Program 2018/2019
  - image: images/halexa.JPG
    title: Halexa
    link_to: projects/halexa
    klass: 2017/2018 CBM
    desc: CBM Program 2017/2018
  - image: images/revo.jpg
    title: revo
    link_to: projects/revo
    klass: 2017/2018 DTP
    desc: Corporate Sponsor - SAP | Partner University - Stanford University | DTP Program 2017/2018
  - image: images/diabee.jpg
    title: DiaBee
    link_to: projects/diabee
    klass: 2017/2018 DTP
    desc: Corporate Sponsor - Roche | Partner University - Aalto University | DTP Program 2017/2018
  - image: images/blooma.jpg
    title: BLOOMA
    link_to: projects/blooma
    klass: 2016/2017 DTP
    desc: Corporate Sponsor - SAP | Partner University - Stanford University | DTP Program 2016/2017
  - image: images/stars.JPG
    title: stars
    link_to: projects/stars
    klass: 2015/2016 DTP
    desc: Corporate Sponsor - SAP | Partner University - Stanford University | DTP Program 2015/2016
---


<div class='full parallax' style='background-image: url(images/@header/projects_headline.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our projects" tagline="Have a look at what we have done" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>


<div class='full'>
  <div class='row'>
    <div class='mod modGallery'>
      <div class='gallery-nav'>
        <ul>
          <li class='current'>
            <a data-cat='all' href='#'>All</a>
          </li>
<!--
          <li>
            <a data-cat='2015/2016' href='#'>2015/2016</a>
          </li>
          <li>
            <a data-cat='2016/2017' href='#'>2016/2017</a>
          </li>
          <li>
            <a data-cat='2017/2018' href='#'>2017/2018</a>
          </li>
          <li>
            <a data-cat="2018/2019" href="#">2018/2019</a>
          </li>
          <li>
            <a data-cat="2019/2020" href="#">2019/2020</a>
          </li>
-->
          <li>
            <a data-cat='DTP' href='#'>DTP</a>
          </li>
          <li>
            <a data-cat='SQUAD' href='#'>SQUAD</a>
          </li>
          <li>
            <a data-cat='CBI' href='#'>CBI</a>
          </li>
          <li>
            <a data-cat='CBM' href='#'>CBM</a>
          </li>
          <li>
            <a data-cat='UDI' href='#'>UDI</a>
          </li>
	   <!--      <li>
            <a data-cat='ME310' href='#'>ME310</a>
          </li>
          -->
		       <li>
            <a data-cat='GDIP' href='#'>GDIP</a>
          </li>
          <!--
            <li>
            <a data-cat='development' href='#'>Development</a>
          </li>
          <li>
            <a data-cat='print' href='#'>Print</a>
          </li>-->
        </ul>
      </div>

      <ul class='gallery large-block-grid-4 medium-block-grid-3 small-block-grid-2'>

        {% for work in page.works %}
          <li class="{{ work.klass }}">
            <a href='{{ work.link_to }}'>
              <img alt="" src="{{ work.image }}" />
              <div class='overlay'>
                <div class='thumb-info'>
                  <h3>{{ work.title }}</h3>
                  <p>{{ work.desc }}</p>
                </div>
              </div>
            </a>
          </li>
        {% endfor %}

      </ul>

    </div>
  </div>

  <div class='four spacing'></div>
</div>
