<div class='full parallax'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our partners" %}
      <div class='spacing'></div>
      <p>
        We are proud and grateful for having the support of the following partners. We collaborate together through events, common projects or just through sharing knowledge over a cup of coffee!
      </p>
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modClients' data-slides_to_show='4'>
        <div class='clients'>
          {% for client in site.data.clients %}
            <div><img alt="" src="{{client.image}}" /></div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='two spacing'></div>
</div>
