---
layout: default
---

<div class='full parallax' style='background-image: url({{site.baseurl}}/images/@header/projects_headline.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title=page.title tagline="Have a look at our project" color="#fff" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modBoxedSlider'>
        <div class='slides'>
          {% for image in page.image %}
            <div class='slide'>
              <img class="slideImage" src="{{site.baseurl}}{{ page.image[forloop.index0]}}" alt="{{ page.title | downcase }}">
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
<div class='row'>
    <div class='large-8 columns'>
        {{content}}


        <div class='spacing'></div>
    </div>
    <div class='large-4 columns'>
      <ul class='info'>
        <li>
          <strong>Program:</strong>
          {{page.program}}
        {% if page.sponsor %}
          <li>
            <strong>Sponsor:</strong>
            {{page.sponsor}}
          </li>
        {% endif %}
        {% if page.partnerUni %}
        <li>
          <strong>Partner University:</strong>
          {{page.partnerUni}}
        </li>
        {% endif %}
          <li>
          <strong>Year:</strong>
          {{page.year}}
        </li>
        <li>
          <div class='spacing'></div>

          <a href='{{site.baseurl}}/projects.html' title='back to projects'>
            <i class='icon-layout'></i>
          </a>

        </li>
      </ul>
    </div>
  </div>
  <div class='four spacing'></div>
</div>
